$card-color: #1a1a1a;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.movie-card{
    height:325px;
    width: 200px;
    background-color: lighten($color: $card-color, $amount: 2%);
    box-shadow: 1px 1px 2px 2px lighten($color: $card-color, $amount: 10%);
    margin: 1rem 1rem 1rem 0;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        transform: scale(0.98);
    }
    .movie-image{
        img{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            width: 100%;
            height: 258px;
        }
    }

    .movie-information{
        padding: 5px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        a{
            color: #84C9FB;
            &:hover{
                text-decoration: none;
                color: darken($color: #84C9FB, $amount: 5%);
            }
        }
        
        .title{
            font-weight: bold;
            // font-weight: 500;
            word-wrap: break-word;
        }

        .checked{
            color: #f6cc81;
        }
    }

}